API_URL="http://localhost:8000"
# The database where your users and sessions will be stored.
# Update this with your actual Railway PostgreSQL connection string!
DATABASE_URL="postgresql://postgres... db url"

# A secure secret used to sign session cookies. You can generate a random string for this.
BETTER_AUTH_SECRET=dcxafHo...

# The base URL of your application (used for redirects and cookie domains)
BETTER_AUTH_URL="http://localhost:3000"

# Nodemailer SMTP configuration (Use your provider, like Gmail/SendGrid)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="CoCivil Team <team email here>"
